{{ attach_library('accessibility_theme/hero') }}

<section class="hero{{ modifier ? ' ' ~ modifier : ''}}{{- attributes ? attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  <div class="hero__inner">
    {# Media could be an image or video. #}
    {% if image %}
      <div class="hero__media">
        {%
          include '@accessibility_theme/media-item/media-item.twig' with {
            "image": image
          } only
        %}
      </div>
    {% endif %}

    {% if eybrow or heading or body %}
      <div class="hero__content-wrapper">
        <div class="hero__content">
          {% if eyebrow %}
            <div class="hero__eyebrow">
              {%
                include '@accessibility_theme/eyebrow/eyebrow.twig' with {
                  "eyebrow": eyebrow
                } only
              %}
            </div>
          {% endif %}

          {% if heading %}
            {%
              include '@accessibility_theme/heading/heading.twig' with {
                "heading": heading
              } only
            %}
          {% endif %}

          {% if body %}
            <div class="hero__body">
              {{ body }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</section>
