{{ attach_library('accessibility_theme/hero') }}

<div class="hero {{ modifier }} {{- attributes ? attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  {# Media could be an image or video. #}
  {% if image %}
    <div class="hero__media">
      {%
        include '@accessibility_theme/media-item/media-item.twig' with {
          "image": image
        } only
      %}
    </div>
  {% endif %}

  <div class="hero__content">
    {% if eyebrow %}
      <div class="hero__eyebrow">
        {{ eyebrow }}
      </div>
    {% endif %}

    {% if heading %}
      {%
        include '@accessibility_theme/heading/heading.twig' with {
          "heading": heading
        } only
      %}
    {% endif %}

    {% if body %}
      <div class="hero__body">
        {{ body }}
      </div>
    {% endif %}

    {% if button %}
      {%
        include '@accessibility_theme/button/button.twig' with {
          "button": button
        } only
      %}
    {% endif %}
  </div>
</section>
