{{ attach_library('accessibility_theme/banner') }}

<div class="banner {{ modifier }} {{- attributes ? attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  {# Media could be an image or video. #}
  {% if image %}
    <div class="banner__media">
      {%
        include '@accessibility_theme/media-item/media-item.twig' with {
          "image": image
        } only
      %}
    </div>
  {% endif %}

  {% if eybrow or heading or body %}
    <div class="banner__content">
      {% if eyebrow %}
        <div class="banner__eyebrow">
          {%
            include '@accessibility_theme/eyebrow/eyebrow.twig' with {
              "eyebrow": eyebrow
            } only
          %}
        </div>
      {% endif %}

      {% if heading %}
        {%
          include '@accessibility_theme/heading/heading.twig' with {
            "heading": heading
          } only
        %}
      {% endif %}

      {% if body %}
        <div class="banner__body">
          {{ body }}
        </div>
      {% endif %}

      {% block cta %}
        {% if cta.url %}
          <a href="{{ cta.url }}" class="{{ cta.modifier }}">{{ cta.text }}</a>
        {% endif %}
      {% endblock %}
    </div>
  {% endif %}
</section>
